name: Create and push docker image

on:
  push:
    branches:
      - main
      - feature/*

permissions:
  contents: read
  packages: write

jobs:

  build_and_push_docker_image:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: clone MCAP_repo_manager
        run: git clone https://github.com/Modeling-Coding-Automation-Project/MCAP_repo_manager.git

      - name: Build Docker image
        run: docker build -t ghcr.io/modeling-coding-automation-project/mcap_env:latest ./MCAP_repo_manager/docker/docker_image_creation

      - name: Push Docker image
        run: docker push ghcr.io/modeling-coding-automation-project/mcap_env:latest